<div ng-if="!ngModel">
    <div class="title">{{title}}</div>
    <div ng-if="!isFileUploading" class="btn-upload-container">
        <div class="btn-upload-container">
            <div class="btn btn-default btn-sm btn-upload" ng-file-select="onFileSelect($files)" data-multiple="false"><i class="glyphicon glyphicon-upload"></i> Загрузить изображение</div>
            <div>или</div>
            <div class="btn btn-default btn-sm" ng-click="takeWebcamPicture()"><i class="glyphicon glyphicon-camera"></i> Сделать фотографию</div>
            <p class="help-block small">Работает, если у вас есть веб-камера</p>
        </div>
    </div>
    <progressbar ng-if="isFileUploading" value="uploadProgress">{{uploadProgress}}%</progressbar>
</div>
<div ng-if="ngModel">
    <div class="btn btn-danger btn-xs btn-remove" ng-click="remove()"><i class="glyphicon glyphicon-remove"></i> заменить</div>
    <a href="{{ngModel}}" class="preview-image" target="_blank"><img ng-src="{{ngModel}}" class="preview-image"/></a>
</div>
