.panel-title a.accordion-toggle {
    cursor: pointer;
}

.panel.success {
    .panel-heading {
        position: relative;
        background-color: #dff0d8;

        &:after {
            font-size: 14px;
            color: #5cb85c;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -7px;
            content: "\e013";
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    }
}

input.form-control.ng-valid {
    border-color: #5cb85c;
}


.nav-application {
    margin-bottom: 20px;
}

.application-data-photo {
    .photo-example {
        text-align: center;
    }
}

.next-container {
    margin-top: 20px;
}

.or-column {
    text-align: center;
    .or {
        display: inline-block;
        width: 100%;
        padding-top: 40%;
        position: relative;
    }
}

upload-image {
    display: block;
    border: 1px solid #eee;
    position: relative;
    text-align: center;
    min-height: 150px;
    max-height: 400px;
    overflow: hidden;

    .preview-image {
        max-width: 100%;
    }

    .btn-upload-container, .progress {
        margin: 20px 10px;
    }

    .title {
        margin: 10px 10px;
    }

    .btn-remove {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
