<div ng-controller="ApplicationDataPrevPassportCtrl" class="application-data-prev-passport">
    <p>
        Загрузите изображение первой страницы вашего последнего загранпаспорта, или введите его номер в поле справа.
    </p>
    <div class="row">
        <div class="col-sm-4">
            <upload-image ng-model="application.prevPassport.image" title="'Первая страница последнего загранпаспорта'"></upload-image>
        </div>
        <div class="col-sm-2 or-column">
            <div class="or">
                или
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form">
                <div class="form-group">
                    <label class="form-label">Введите номер вашего последнего загранпаспорта</label>
                    <input type="text" ng-model="application.prevPassport.value" placeholder="Пример: EC712412" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="next-container">
        <div class="btn btn-primary" ng-click="goToNextGroup(dataGroup)" ng-disabled="!dataGroup.isValid()">Дальше</div>
    </div>
</div>
