<alert ng-show="loadingData" type="'info'">Loading...</alert>

<div ng-hide="loadingData">

    <table class="table table-bordered">
        <tr ng-repeat="application in applications">
            <td>
                <a ui-sref="admin.application({id: application._id})">
                    {{application.general.firstName}} {{application.general.middleName}} {{application.general.lastName}}
                </a>
            </td>
            <td>
                <span ng-show="application.status === 'approved'" class="label label-success">подтверждена</span>
                <span ng-show="application.status === 'declined'" class="label label-danger">отклонена</span>
                <span ng-show="!application.status" class="label">рассматривается</span>
            </td>
        </tr>
    </table>

</div>
