<div class="form-inline" style="margin-top:100px">
    <div class="form-group">
        <a ui-sref="application.data" class="btn btn-primary">Подать заявку на получения загранпаспорта</a>
    </div>
    <div class="form-group">
        или
    </div>
    <div class="form-group">
        <input class="form-control" size="30" placeholder="Введите ваш номер телефона"></inptu>
    </div>
    <div class="form-group">
        <a ui-sref="status" class="btn btn-default">Проверить состояние заявки</a>
    </div>
</div>
